
.PricingPlanFloatingDiv{
    background-color: rgb(205, 205, 205);
width:20rem;
height:30rem;
box-shadow: 14px 15px #888888;

}
.pricingDiv{
    display: flex;
    flex-direction: column;
     justify-content: center;
}
.pricingDiv .plan{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pricingDiv .price{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricingDiv .pricedetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pricingDiv .plandetails{
display: flex;
flex-direction: column;
margin-top: 2rem;
margin-bottom: 2rem;;
justify-content: center;
align-items: center;
}
.pricingDiv .plandetails .detail1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.plandetails img{
    width:34px;
    height:34px;

}

.pricingDiv .planBuyBtn{
    display: flex;
    justify-content: center;

}

.planBuyBtn button{ 
    background-color: #EFA593;
width:6rem;
height:6rem;
border-radius: 70%;
border-color: #EFA593;
box-shadow: 5px 5px 5px black;
}